{% extends "index.html.twig" %}
  {% block content_container %}
    <div class="row">
      <div class="span10 offset1 content">
        {% block content_title %}
          {% if document.title is defined and document.title %}
            <div class="page-header">
              <h1>{{ document.title }}
                {%- if document.metadatas.subtitle is defined %} <small>{{ document.metadatas.subtitle }}</small>{% endif -%}
              </h1>
            </div>
          {% endif %}
        {% endblock %}

        {% block content_main %}
          This page doesn't exist, what do you want to do now?
          <ul>
            <li><a href="/">Homepage</a>?</li>
            <li><a href="{{ latest.path }}">Last article ({{ latest.title }})</a></li>
            <li><a href="">tags list</a></li>
          </ul>
        {% endblock %}
      </div>
    </div>
  {% endblock %}

